@import 'tailwindcss';
body {
    font-family: "Outfit Variable";
}

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@keyframes shakeXFastOnce {
    0% { transform: translateX(0); }
    2% { transform: translateX(-10px); }
    4% { transform: translateX(10px); }
    6% { transform: translateX(-8px); }
    8% { transform: translateX(8px); }
    10% { transform: translateX(0); }

    /* 10%–100% → no movement (stay still) */
    100% { transform: translateX(0); }
}

/* --> Duration = 15s (0.4s shaking + 14.6s pause) */
.animate-shake-every-15s {
    animation: shakeXFastOnce 7s ease-in-out infinite;
}


.text-border {
    text-shadow: 2px 0 #8200db, -2px 0 #8200db, 0 2px #8200db, 0 -2px #8200db, 1px 1px #8200db, -1px -1px #8200db, 1px -1px #8200db, -1px 1px #8200db;
}


